*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.App{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.main{
    min-height: 100vh;
    width: 100vw;
}
.navbar{
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    background-color: #1f1e1e;
}
.logo{
    font-weight: 800;
    color: white;
}
.menu{
    list-style: none;
    display: flex;
}
.menu a{
    color: white;
    text-decoration: none;
    margin: 0 1em;
}
.search{
    width: auto;
}
.ip_s{
    height: 35px;
    width: 300px;
}
::placeholder{
    text-align: center;
    color: black;
}
/* footer */
footer{
    background-color: #1f1d1d;
    font-size: 12px;
    color:white;
}
.inner-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 3em;
}
.footer-text{
    width: 40%;
}
.contact{
    margin-right: 3em;
}
 
.copyright{
    background-color: black;
    text-align: center;
    padding: 1em;
}
.icons li{
    list-style: none;
}
.container{
    min-height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1em;
    background-color: rgb(15, 22, 15);
}
.grid{
    padding: 1em;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,minmax(315px,3fr)); 
    grid-gap: 20px;
}
.img{
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.img:hover{
    transform: scale(1.1);
}
@media(max-width:780px){
    .navbar{
        height: 25vh;
        flex-direction: column;
        justify-content: space-around;
    }
    .grid{
        grid-template-columns: repeat(auto-fit,minmax(315px,1fr)); 
        margin-left: 40px;
    }
}